{{/* Vendor Styles */}}
<link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/assets/vendor/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/assets/vendor/fork-awesome/css/fork-awesome.min.css">

{{/* Styles */}}
{{ $options := (dict "targetPath" "assets/css/main.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "css/global.sass" | resources.ToCSS $options | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}"integrity="{{ $style.Data.Integrity }}">