{{ define "main" }}
<article>
  <h1 id="title">{{ .Title }}</h1>
  {{ if eq .Slug "covenant" }}
  <div class="covenant">{{ .Description }}  ({{ .Lastmod | time.Format ":date_long" }})</div>
  {{ end }}
  <div>
    <article id="content">{{ .Content }}</article>
  </div>
</article>
<aside id="toc">
  <div class="title">
    <h2>{{ i18n "toc" }}</h2>
  </div>
  <div class="content">{{ .TableOfContents }}</div>
</aside>
{{ end }}
