{{ define "main"}}
<div class="row">
  <h1>{{ .Site.Params.welcome }}</h1>
</div>

<div class="mobile-nav row row-cols-1 row-cols-md-2 g-4">
  {{ range .Site.Menus.navs }}
  <div class="col">
    <a class="nav-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
  </div>
  {{ end }}
</div>

<div class="links row row-cols-2 row-cols-md-3 g-4">
  {{ range .Site.Params.contact }}
  <div class="col">
    <div class="card">
      <a href="{{ .domain }}">
        <div class="card-body">
          <h5 class="card-title"><i class="{{ .icon }} fa-3x"></i></h5>
          <h6 class="card-subtitle mb-2">{{ .name }}</h6>
          <p class="card-text">{{ .discription }}</p>
        </div>
      </a>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}


