body
  height: 100vh

  header

    nav

      .navbar-brand

        img
          max-height: 90px
          @media (max-width: 700px){height: 20vw}

      .navbar-nav
        margin-left: auto

        .nav-item

          >a:hover
            border-bottom: 1px var(--link-aktive) solid


  main
    margin: 25px 0 25px 0

    &#home

      .row
        text-align: center

        &.mobile-nav
          @media (min-width: 900px){display: none}

        &.mobile-nav,
        &.links
          margin-top: 20px;

          a.nav-link
            background: var(--bs-secondary-bg)
            text-decoration: none
            padding: 0.5em 1.75em 0.5em 1.5em
            border-radius: 1.5em

        .card
          min-height: 200px
          text-align: center
          background-color: transparent
          border: none
          cursor: pointer

          @media (max-width: 700px){min-height: 100px}

          a,
          a:hover
            color: inherit
            text-decoration: none

          .card-body

            .card-title
              color: var(--bs-emphasis-color)
              margin-bottom: 15px

              & i
                padding: 10px
                border-radius: var(--bs-card-border-radius)
                background: var(--bs-secondary-bg)

            .card-text
              display: none

          &:hover

            .card-body

              .card-subtitle
                display: none

              .card-text
                display: inherit

    &:not(#home)
      display: flex

      article
        width: 100%

        .covenant
          margin-bottom: 20px
          font-size: 1.3rem
          text-align: center

        h1
          margin-bottom: 20px
          text-align: center

        h2
          color: var(--primary)

          &:before
            content: "⫸ "

        h3
          text-indent: 5px;

          &:before
            content: "▷ "

        h4
          text-indent: 10px;

          &:before
            content: "▹ "

        h5
          text-indent: 15px;

        h6
          text-indent: 20px;

        pre
          margin: 10px auto
          padding: 10px;
          background-color: rgba(0, 0, 0, 0.4)

          code
            color: rgb(255, 255, 255)

        &#error

          h1
            margin-bottom: 40px;

          article
            text-align: center

      aside#toc
        width: 25%
        @media (max-width: 700px){display: none}

        a,
        a:hover
          color: inherit
          text-decoration: none

        a:hover
          border-bottom: 1px var(--link-aktive) solid

  footer
    height: 25px
    text-align: center
    background-image: linear-gradient(var(--bs-body-bg), var(--bs-body-bg));

html
  .nav-item.theme .nav-link i
    font-family: "Font Awesome 6 Free"
    font-weight: 900
    font-style: normal

    &::after
      content: "\f042"

  &[data-bs-theme="dark"] .nav-item.theme .nav-link i:after
    content: "\f186"

  &[data-bs-theme="light"] .nav-item.theme .nav-link i:after
    content: "\f185"

  &[bs-theme="auto"] .nav-item.theme .nav-link i:after
    content: "\f042"
